body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

ul,
.header-logo,
.photo-area,
.container-left {
  width: 400px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

.header-logo {
  color: #e5e7eb;
  font-size: 24px;
  font-weight: bolder;
}

.top {
  margin-top: 20px;
}

.top,
.top2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 50px;
}

.header-awesome {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.paragraph-hero {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  padding-bottom: 2px;
}

img {
  border-radius: 12px;
}

.container-left {
  width: 400px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
