* {
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #0a2507;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

ul,
.header-logo,
.photo-area,
.container-left {
  width: 400px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

.header-logo {
  color: #e5e7eb;
  font-size: 24px;
  font-weight: bolder;
}

.navbar,
.hero-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  background-color: #0a2507;
}

.hero-section {
  padding-bottom: 50px;
}

.header-awesome {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.paragraph-hero {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: #7eff85;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

img {
  border-radius: 12px;
}

.container-left {
  width: 400px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.second-row-h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  color: #000000;
  margin: 60px 0px;
}

.info-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
}

.squares {
  width: 150px;
}

.box {
  height: 150px;
  border: solid 4px #0a2507;
  border-radius: 14px;
  background-size: cover;
}

#box1 {
  background-image: url("Images/exotic.jpg");
  background-position: 20% 20%;
}

#box2 {
  background-image: url("Images/low.jpg");
  background-size: cover;
  background-position: 0px -50px;
}

#box3 {
  background-image: url("Images/fun.jpg");
  background-size: 150%;
  background-position: 50% 90%;
}

#box4 {
  background-image: url("Images/flower.jpg");
  background-size: 100%;
  background-position: 20% 20%;
}

.text {
  text-align: center;
  color: rgb(26, 26, 26);
  margin-top: 4px;
  font-size: 18px;
}

.quote {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #e5ebe7;
}

.quote-text {
  width: 700px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-top: 80px;
}

.quote-signature {
  margin-bottom: 80px;
  align-self: center;
  font-weight: bold;
  font-size: 24px;
  margin-left: 450px;
}

.call {
  display: flex;
  justify-content: center;
  align-content: center;
}

.call-area {
  margin: 80px 0px;
  width: 900px;
  height: 150px;
  border-radius: 9px;
  background-color: #0a2507;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-button {
  background-color: #0a2507;
  color: white;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 15px;
  align-self: center;
}

.call-text {
  color: #e5e7eb;
}

.call-text-head {
  font-weight: bold;
  font-size: 25px;
}

.call-text-body {
  font-size: 18px;
}

.footer {
  height: 74px;
  background-color: #0a2507;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #e5e7eb;
  font-size: 18px;
}
